.pure-u-1-1
	display flex
	.pure-u-1-3.e-book
		align-self flex-start
	div
		display flex
		align-self center
		a, button
			margin-left 10px
	.search-form
		width 100%
		.pure-form
			width 100%
			display flex
			a
				align-self center
			.awesomplete
				ul
					top 40px