.pure-u-1-1
	h4 Busquedas guardadas
.pure-u-1-1.savedSearch
	ul
		each i in [1,2,3]
			li 
				a(href='#') busqueda #{i}
				.span-e
					span 
						a(href='#') editar
					span 
						a(href='#') eliminar