.search-form
	form.pure-form
		input(type='text' placeholder='Enter text' id='inputSearch')
		button(type='submit' class='pure-button pure-button-primary' id='btnSearch') Search
		a(href='#' class='link-search-form' id='saveSearch') Guardar busqueda