.search-form
	form.pure-form
		input(type='text' placeholder='Enter text')
		button(type='submit' class='pure-button pure-button-primary') Search
		a(href='#' class='link-search-form') Guardar busqueda